[buildout]
find-links = http://pypi.python.org/simple/z3c.json/
develop = .
          ../../p01.publisher/trunk
          ../../p01.testbrowser/trunk
versions = versions
parts = py
        test
        checker
        coverage-test
        coverage-report


[versions]
WebTest = 2.0.35


[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = p01.jsonrpc [test]
       future

[checker]
recipe = lovely.recipe:importchecker
path = src/p01/jsonrpc


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.jsonrpc [test]
       future
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
       future
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
