[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/"]

[project]
name = "dwrandomizer-wrapper"
version = "0.3.0"
authors = [
  { name="Peter Ghobrial", email="peter_ghob@yahoo.ca" },
]
description = "A Cython wrapper for the C based Dragon Warrior Randomizer, for use with Archipelago"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = "MIT"
license-files = ["LICEN[CS]E*"]
