:root {
    --success-color: #a6e3a1;
    --info-color: #89b4fa;
    --warning-color: #f9e2af;
    --danger-color: #f38ba8;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

*,
*::before,
*::after {
    -webkit-scrollbar {
        display: none !important;
    }
}

/* Hide scrollbar for IE, Edge (legacy), and Firefox */
* {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}

/* For Google Chrome, Safari and latest Edge browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Mozilla Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

html {
    max-height: 100vh;
    overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none !important;
}

body {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
    overflow: hidden;
}

main {
    flex: 1 1 auto;
    overflow: scroll;
}

main > :first-child {
    margin-top: 2rem;
}

.align-center {
    align-content: center;
}

.inherit-color {
    color: inherit;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.scrollable {
    overflow: scroll;
}

.success {
    background-color: var(--success-color);
}

.success-border {
    border: 2px solid var(--success-color);
    border-radius: .75rem;
    padding: 0.25rem 0.5rem;
}

.success-text {
    color: var(--success-color);
}

.danger {
    background-color: var(--danger-color);
}

.danger-border {
    border: 2px solid var(--danger-color);
    border-radius: .75rem;
    padding: 0.25rem 0.5rem;
}

.danger-text {
    color: var(--danger-color);
}

.info {
    background-color: var(--info-color);
}

.info-border {
    border: 2px solid var(--info-color);
    border-radius: .75rem;
    padding: 0.25rem 0.5rem;
}

.info-text {
    color: var(--info-color);
}

.warning {
    background-color: var(--warning-color);
}

.warning-border {
    border: 2px solid var(--warning-color);
    border-radius: .75rem;
    padding: 0.25rem 0.5rem;
}

.warning-text {
    color: var(--warning-color);
}

.btn.outlined.danger {
    color: #f38ba8;
    border-color: #f38ba8;
}

.outlined {
    border: 1px solid;
    border-radius: .75rem;
    padding: 0.25rem 0.5rem;
}

.touch-btn {
    width: 100%;
    max-width: 300px;
    height: 80px;
    font-size: 2rem;
    line-height: 70px;
    border-radius: 10px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}