mu_s 1

n_anisotropy 0
i Kx Ky Kz   K
0  1  0  0 0.2
0  0  1  0 0.2
0  0  0  1 0.4

### Quadruplets
interaction_quadruplets_file quadruplet

### bravais_vectors or bravais_matrix
###   a.x a.y a.z       a.x b.x c.x
###   b.x b.y b.z       a.y b.y c.y
###   c.x c.y c.z       a.z b.z c.z
bravais_vectors
1.0 0.0 0.0
-0.5 0.866 0.0
0.0 0.0 2.0

basis
1
0.5 0.5 0.5
