[data-md-color-scheme="default"] {
    --md-primary-fg-color: #967e76;
    --md-primary-bg-color: #eee3cb;
    --md-accent-fg-color: #d7c0ae;
}

[data-md-color-scheme="slate"] {
    --md-hue: 225deg;
    --md-primary-fg-color: #31363f;
}
